.root {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    text-align: left;
    border: 1px solid rgb(111, 105, 105);
    align-items: center;
}

.active {

}

.title {
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
}

.completed {
    color: var(--completed-todo);
    text-decoration: line-through;
    font-style: italic;
    background: rgba(136, 136, 136, 0.3);
}